/* reset css */
body, h1, h2, p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/clouds-8353592_1920.jpg);
}

/* custom properties */
:root {
    --background-color-gray: rgba(169, 169, 169, 0.41);
    --background-color-weather: rgb(227, 225, 225);
    --background-color-hover: rgb(157, 202, 246);
}

/* header section */
header {
    display: flex;
    align-items: center;
    background-color: var(--background-color-gray);
    height: 25vh;
}

header>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.7);
    border: solid black 4px;
    border-radius: 50px;
    margin-left: 10vw;
    width: 300px;
    height: 16vh;
}

/* main section */
main {
    display: grid;
    justify-items: stretch;
    justify-content: center;
    grid-template-rows: 15vh auto auto auto;
    grid-template-columns: 80vw;
    row-gap: 2vh;
    min-height: 65vh;
}

main form {
    display: flex;
    align-items: center;
}

main input {
    background-color: var(--background-color-gray);
    font-size: 35px;
    font-weight: 900;
    width: 18vw;
    height: 7vh;
    border: black solid 4px;
    border-radius: 20px;
    text-align: center;
    transition: background-color 1s;
}

main input:hover {
    background-color: rgba(255,255,255,0.7);
}

main input:focus {
    background-color: rgba(255,255,255,0.7);
}

/* Weather information sections */
main #weatherByDay {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 15px;
}

main #weatherByDay>div {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    background-color: var(--background-color-weather);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 35vh;
    cursor: pointer;
}

main #weatherByDay>div:hover {
    background-color: var(--background-color-hover);
}

main #weatherByDay>div:focus {
    background-color: var(--background-color-hover);
}

main #weatherByDay>div>p:nth-child(2) {
    font-size: 35px;
    align-self: center;
}

main #weatherByDay>div>div {
    display: flex;
    justify-content: center;
    column-gap: 1vw;
}

main #weatherByHour {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 15px;
    width: auto;
}

main #weatherByHour>div {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    background-color: var(--background-color-weather);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 20vh;
}

main #weatherDetails {
    justify-items: stretch;
    margin-bottom: 4vh;
}

main #weatherDetails>div {
    display: grid;
    grid-template-rows: 5vh 5vh 25vh;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    background-color: var(--background-color-weather);
    border-radius: 0 0 5px 5px;
    padding-top: 5px;
    height: 40vh;
}

main #weatherDetails>div>p {
    border-bottom: black solid 1px;
}

main #weatherDetails>div>div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* footer section */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-gray);
    height: 10vh;
    font-size: larger;
    font-weight: bold;
}