/* reset css */
body, h1, h2, p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* background image */
body {
    background-attachment:fixed;
    background-image: linear-gradient(rgb(35, 69, 86, 0.5) 70%,rgba(255,153,153,0.5) 100%), url(../images/pexels-pixabay-158163.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* custom properties */
:root {
    --background-color-weather: rgb(227, 225, 225, 0.5);
    --background-color-weather2: rgb(3, 15, 73);
    --background-color-hover: rgb(157, 202, 246);
}

/* header section */
header {
    display: flex;
    align-items: center;
    background-color: var(--background-color-weather);
    height: 25vh;
}

header>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.7);
    border: solid black 4px;
    border-radius: 50px;
    margin-left: 10vw;
    width: 300px;
    height: 16vh;
}

/* main section */
main {
    display: grid;
    justify-items: stretch;
    justify-content: center;
    grid-template-rows: 15vh auto auto auto;
    row-gap: 2vh;
    min-height: 65vh;
}

main form {
    display: flex;
    align-items: center;
}

main input {
    background-color: var(--background-color-weather);
    font-size: 35px;
    font-weight: 900;
    width: 100%;
    height: 7vh;
    border: black solid 4px;
    border-radius: 20px;
    transition: background-color 1s;
}

main input:hover {
    background-color: rgba(255,255,255,0.7);
}

main input:focus {
    background-color: rgba(255,255,255,0.7);
}

/* Weather information sections */
main #weatherByDay {
    display: grid;
    grid-template-columns: repeat(7, 10vw);
    column-gap: 2vw;
}

main #weatherByDay>div {
    display: grid;
    grid-template-rows: 20% 30% 30% 20%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: var(--background-color-weather);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 250px;
    cursor: pointer;
    backdrop-filter: blur(20px);
}

main #weatherByDay>div:hover {
    background-color: var(--background-color-hover);
}

main #weatherByDay>div:focus {
    background-color: var(--background-color-hover);
}

main #weatherByDay>div>p:nth-child(2) {
    font-size: 28px;
    justify-self: center;
    align-self: center;
    width: 8vw;
    border: var(--background-color-weather2) 4px solid;
    border-radius: 20px;
}

main #weatherByDay>div>div {
    display: flex;
    justify-content: center;
    column-gap: 1vw;
}

main #weatherByHour {
    display: grid;
    grid-template-columns: repeat(7, 10vw);
    column-gap: 2vw;
    width: auto;
}

main #weatherByHour>div {
    display: grid;
    grid-template-rows: 30% 40% 30%;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    background-color: var(--background-color-weather);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 150px;
    backdrop-filter: blur(20px);
}

main #weatherByHour>div p:first-child {
    justify-self: center;
    align-self: center;
    border-bottom: 2px solid var(--background-color-weather2);
    width: 8vw;
}

main #weatherDetails {
    justify-items: stretch;
    margin-bottom: 4vh;
}

main #weatherDetails>div {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    grid-auto-rows: max-content;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    background-color: var(--background-color-weather);
    border-radius: 0 0 5px 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    backdrop-filter: blur(20px);
}

main #weatherDetails>div>p {
    border-bottom: black solid 1px;
}

main #weatherDetails>div>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* footer section */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-weather);
    height: 10vh;
    font-size: larger;
    font-weight: bold;
    backdrop-filter: blur(20px);
}

@media screen and (max-width: 1024px) {
    main #weatherByDay>div {
        font-weight: normal;
        font-size: 12px;
        height: 150px;
    }

    main #weatherByDay>div>p:nth-child(2) {
        font-size: 15px;
        align-self: center;
        width: 8vw;
        border-radius: 20px;
    }

    main #weatherByHour>div {
        font-size: 12px;
        height: 100px;
    }

    main #weatherDetails>div {
        font-weight: normal;
        font-size: 20px;
    }

@media screen and (max-width: 425px) {
    header {
        align-items: center;
        justify-content: center;
    }

    header>h1 {
        border: solid black 2px;
        margin-left: 0;
        font-size: 22px;
        height: 12vh;
    }

    main input {
        font-size: 14px;
        font-weight: bold;
        height: 4vh;
        border: black solid 2px;
        border-radius: 10px;
        padding-left: 2vw;
    }

    main #weatherByDay {
        grid-template-columns: repeat(7, 11vw);
        column-gap: 1vw;
    }

    main #weatherByDay>div {
        font-weight: normal;
        font-size: 6px;
        height: 70px;
    }

    main #weatherByDay>div>p:nth-child(2) {
        font-size: 8px;
        align-self: center;
        width: 8.5vw;
        border: 1.5px solid var(--background-color-weather2);
        border-radius: 12px;
    }

    main #weatherByHour {
        grid-template-columns: repeat(7, 11vw);
        column-gap: 1vw;
    }

    main #weatherByHour>div {
        font-weight: normal;
        font-size: 6px;
        height: 40px;
    }

    main #weatherDetails>div {
        font-weight: normal;
        font-size: 9px;
    }

    footer {
        font-size: 10px;
    }
}

}